body{
   
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav{
    overflow: hidden;
    line-height: 20px;
}
nav a{
    float: left;
    display: block;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    
}
nav a:hover{
    background: #ddd;
    color:#000
}
nav.active{
    background: #601b75;
}
nav input[Type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 16px;
    margin-right: 100px;
    font-size: 17px;
    border-radius: 10px;
    outline: none;
}
.premiere-image{
    height: 400PX;
    box-shadow: 10px 10px lightcoral;
    
}
.centrer{
    display: flex;
    justify-content: center;
}
.fotogauche img{
    height: 300px;
  
    left: 20px;
    top: 10px;
    box-shadow: 10px 10px lightcoral;
}
.fotodroite img{
    height: 300px;
   
    left: 950px;
    top: -300px;
    box-shadow: 10px 10px lightcoral;
}
.pierre img{
    height: 300px;
   
    left: 550px;
    top: -300px;
    box-shadow: 10px 10px lightcoral;
}
h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 220%;
    color: black;
   text-align: right;
 
  bottom: 1550px;
  text-decoration: underline wheat;
  top: -1700px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 220%;
    color: black;
   text-align: right;
 
  bottom: 1580px;
  text-decoration: underline wheat;
  top: -1730px;
}
.sovlogo img{
    width: 200px;
    
}
.Janportaelslogo img{
    height: 125px;

    left: 560px;
    top: -940px;
}
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: rgb(2, 26, 17);
    -webkit-text-stroke: blueviolet;
    text-transform: uppercase;
    border: inset lightcoral(221, 132, 15);
    border-width: 10px;
    background-color: lightcoral;
    width: 300px;
}
.flex-center{
    display: flex; justify-content: space-around;
}
.telephone{
    height: 30px;
    
    left: 810px;
    top: -82px;
}
.map{
    height: 30px;
   
    left: 520px;
}
.text1{
    color: #312c2c;
    
    left: 610px;
    top: -22px;
}
.numer{
    color: #312c2c;
    
    left: 610px;
    top: -2px;
}
.tel2{
    height: 23px;
    
    left: 550px;
    top: 38px;
}
.mail{
    color: #312c2c;
  
    left: 610px;
    top: 12px;
}
.screen1{
    height: 250px;
   
    left: 20px;
    top: -180px;
    box-shadow: 10px 10px lightcoral;
}
.mail2{
    color: #312c2c;
    
    left: 610px;
    top: 12px;
}
.logomail{
    height: 53px;
  
    left: 280px;
    top: -225px;
}
.post{
    color: #312c2c;
    
    left: 580px;
    top: -160px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: rgb(2, 26, 17);
    -webkit-text-stroke: blueviolet;
    text-transform: uppercase;
    border: inset lightcoral(221, 132, 15);
    border-width: 10px;
    background-color: lightcoral;
    width: 300px;
}
.maatregelen{
    color: #312c2c;
   
    left: 612px;
    top: -140px;
}
.schelder{
    color: #312c2c;
    
    left: 612px;
    top: -130px;
}
.intro{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: lightcoral;
  
}
main{
    display: flex;justify-content: center;
}
.tout{
    width: 1500px;
}
.flex-space-around {
    display: flex; justify-content: space-around;
    align-items: center;

    
}