body{
    margin: 0%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav{
    overflow: hidden;
    line-height: 20px;
}
nav a{
    float: left;
    display: block;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    
}
nav a:hover{
    background: #ddd;
    color:#000
}
nav.active{
    background: #601b75;
}
nav input[Type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 16px;
    margin-right: 100px;
    font-size: 17px;
    border-radius: 10px;
    outline: none;
}
.premiere-image{
    height: 400PX;
    
}
.centrer{
    display: flex;
    justify-content: center;
}
.foto2 img{
    height: 300px;
    position: relative;
    left: 20px;
    top: 10px;
    box-shadow: 10px 10px lightcoral;
}
.foto3 img{
    height: 300px;
    position: relative;
    left: 950px;
    top: -300px;
    box-shadow: 10px 10px lightcoral;
}
