body{
   
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav a{
  font-family: sans-serif;
  background-color: lightcoral;
  
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(255, 255, 255)

  
}
nav a:hover{
    background: #ddd;
    color:#000
}
nav.active{
    background: #601b75;
    
}
nav input[Type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 16px;
    margin-right: 100px;
    font-size: 17px;
    border-radius: 10px;
    outline: none;
}
.premiere-image{
    height: 400PX;
    box-shadow: 10px 10px lightcoral;
    
}
.centrer{
    display: flex;
    justify-content: center;
    padding-right: 70px;
}
.fotogauche img{
    height: 300px;
  
    left: 20px;
    top: 10px;
    box-shadow: 10px 10px lightcoral;
}
.fotodroite img{
    height: 300px;
 
    left: 950px;
    top: -300px;
    box-shadow: 10px 10px lightcoral;
}
.pierre img{
    height: 300px;
   
    box-shadow: 10px 10px lightcoral;
}
h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    color: black;
   text-align: right;
 
  bottom: 1550px;
  text-decoration: underline wheat;
  top: -1700px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    color: black;
   text-align: right;
 
  bottom: 1580px;
  text-decoration: underline wheat;
  top: -1730px;
}
.sovlogo img{
    height: 150px;
    padding-right: 50px;
    
}
.Janportaelslogo img{
    height: 125px;

    left: 560px;
    top: -940px;
}
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: rgb(2, 26, 17);
    -webkit-text-stroke: blueviolet;
    text-transform: uppercase;
    border: inset lightcoral;
    border-width: 10px;
    background-color: lightcoral;
    width: 300px;
}
.flex-center{
    display: flex; justify-content: space-around;
    align-items: center;
}
.telephone{
    height: 25px;
    
}
.map{
    height: 30px;
   
    left: 520px;
}
.text1{
    color: #312c2c;
    
    left: 610px;
    top: -22px;
}
.numer{
    color: #312c2c;
    
    left: 610px;
    top: -2px;
}
.tel2{
    height: 23px;
    
    left: 550px;
    top: 38px;
}
.mail{
    color: #312c2c;
  
    left: 610px;
    top: 12px;
}
.screen1{
    height: 250px;
   
    left: 20px;
    top: -180px;
    box-shadow: 10px 10px lightcoral;
}
.mail2{
    color: #312c2c;
    
    left: 610px;
    top: 12px;
}
.logomail{
    height: 18px;
  
    left: 280px;
    top: -225px;
}
.post{
    color: #312c2c;
    
    left: 580px;
    top: -160px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: rgb(2, 26, 17);
    -webkit-text-stroke: blueviolet;
    text-transform: uppercase;
    border: inset lightcoral;
    border-width: 10px;
    background-color: lightcoral;
    width: 300px;
}
.maatregelen{
    color: #312c2c;
   
    left: 612px;
    top: -140px;
}
.schelder{
    color: #312c2c;
    
    left: 612px;
    top: -130px;
}
.intro{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
    -webkit-text-stroke-width: 1,6px;
  color: black;
  
}
main{
    display: flex;justify-content: center;
}
.tout{
    width: 1500px;
}
.flex-space-around {
    display: flex; justify-content: space-around;
    align-items: center;
    padding: 10px;
    padding-right: 80px;

    
}
.statut{
    width: 50px;
}
.sovlogocont{
    display: flex;
    justify-content: center;
    height: 200px;
}
.site-footer
{
  background-color: rgb(139, 205, 214);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.inschrijftekst{
  width: 6000px;
}
.jongeren{
  height: 400px;
  display: flex;
  justify-content: center;
}
*{box-sizing:border-box}
body{margin:0}
ul{padding:0}

.caroussel_diapo input{display:none}
    
.caroussel_diapo{	
position:relative;
text-align: center;
margin:0 auto}


.contenu_carou {
width: 800px;
height: 332px;
margin: 2rem auto;
perspective: 1200px}


.caroussel {
position: relative;
transform-style: preserve-3d;

transition: 1s transform}

.caroussel img {
position: absolute;
width: 450px;
height: 450px;
top: 0;
left: 0;
outline:1px solid transparent;
backface-visibility:hidden;
will-change: transform;
transition: 1s transform
}

	
.caroussel img:nth-child(1){
	
	transform:translate3d(0,0,540px) scale(.8)
	
	}
	
.caroussel img:nth-child(2){
	
	transform:rotateY(45deg) translateZ(540px) scale(.8)
	
	}
	
.caroussel img:nth-child(3){
	
	transform:rotateY(90deg) translateZ(540px) scale(.8)
		
	}
	
.caroussel img:nth-child(4){
	
	transform:rotateY(135deg) translateZ(540px) scale(.8)
	
	}
	
.caroussel img:nth-child(5){
	
	transform:rotateY(180deg) translateZ(540px) scale(.8)
	
	}
	
.caroussel img:nth-child(6){
	
	transform:rotateY(225deg) translateZ(540px) scale(.8)
	
	}
	
.caroussel img:nth-child(7){
	
transform:rotateY(270deg) translateZ(540px) scale(.8)
	
	}
	
.caroussel img:nth-child(8){
	
transform:rotateY(315deg) translateZ(540px) scale(.8)

}

.caroussel_diapo input[type=radio] + label {
cursor: pointer;
background-color: hsl(203,77%,81%);
display: inline-block;
width: 20px;
border-radius: 50%;
height: 20px
	}
	
.caroussel_diapo input[type=radio]:checked + label{
	
	background-color:hsl(203,77%,61%)
		
	}


	

/*gauche*/
.caroussel_diapo #carou_un:checked ~ .contenu_carou .caroussel{

	transform:translateZ(-540px)
	
	}
	
.caroussel_diapo #carou_deux:checked ~ .contenu_carou .caroussel{
	
transform:translateZ(-540px) rotateY(-45deg)
	
	}
	
.caroussel_diapo #carou_trois:checked ~ .contenu_carou .caroussel{
	
	transform:translateZ(-540px) rotateY(-90deg)
		
	}
	
.caroussel_diapo #carou_quatre:checked ~ .contenu_carou .caroussel{
	
	transform:translateZ(-540px) rotateY(-135deg)
		
	}
	
.caroussel_diapo #carou_cinq:checked ~ .contenu_carou .caroussel{
	
	transform:translateZ(-540px) rotateY(-180deg)
		
	}
	
.caroussel_diapo #carou_six:checked ~ .contenu_carou .caroussel{
	
	transform:translateZ(-540px) rotateY(-225deg)
		
	}
	
.caroussel_diapo #carou_sept:checked ~ .contenu_carou .caroussel{
	
	transform:translateZ(-540px) rotateY(-270deg)
	
	}
	
.caroussel_diapo #carou_huit:checked ~ .contenu_carou .caroussel{
	
	transform:translateZ(-540px) rotateY(-315deg)
	
	}


/*droite*/
.caroussel_diapo #carou_un:checked ~ .contenu_carou .caroussel img:nth-child(1){
	
	transform:translateZ(540px) scale(1)
	
	}
	
.caroussel_diapo #carou_deux:checked ~ .contenu_carou .caroussel img:nth-child(2){
	
transform:rotateY(45deg) translateZ(540px) scale(1)
	
	}
.caroussel_diapo #carou_trois:checked ~ .contenu_carou .caroussel img:nth-child(3){
	
	transform:rotateY(90deg) translateZ(540px) scale(1)
	
	}
	
.caroussel_diapo #carou_quatre:checked ~ .contenu_carou .caroussel img:nth-child(4){
	
	transform:rotateY(135deg) translateZ(540px) scale(1)
	
	}
	
.caroussel_diapo #carou_cinq:checked ~ .contenu_carou .caroussel img:nth-child(5){
	
	transform:rotateY(180deg) translateZ(540px) scale(1)
	
	}
	
.caroussel_diapo #carou_six:checked ~ .contenu_carou .caroussel img:nth-child(6){
	
	transform:rotateY(225deg) translateZ(540px) scale(1)
	
	}
	
.caroussel_diapo #carou_sept:checked ~ .contenu_carou .caroussel img:nth-child(7){
	
	transform:rotateY(270deg) translateZ(540px) scale(1)
	
	}
	
.caroussel_diapo #carou_huit:checked ~ .contenu_carou .caroussel img:nth-child(8){
	
	transform:rotateY(315deg) translateZ(540px) scale(1)
		
	}
.overons{

  font-family: 'Times New Roman', Times, serif;
  border: inset lightcoral;
  border-width: 10px;
  background-color: lightcoral;
  width: 123px;
}
.links{
  font-family: 'Times New Roman', Times, serif;
  border: inset lightcoral;
  border-width: 10px;
  background-color: lightcoral;
  width: 180px;
}
.text-justify{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: black 
}
.footer-links{
  color: rgb(156, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



